@import url("reset.css");
/*------------------------------------------------------------
Header
------------------------------------------------------------*/
.header__wel {
  padding: 4px 0 9px 0;
  background: #d9e1e6;
}

.header__wel .welcome {
  text-align: center;
  text-transform: uppercase;
  font-size: 10px;
  font-weight: 400;
  color: #868f93;
}

.header__wel .closeWel {
  position: absolute;
  top: 2px;
  right: 2px;
  cursor: pointer;
}

.header__logo .container {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  height: 100px;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.header__price {
  position: relative;
  width: 506px;
}

.header__price label {
  cursor: pointer;
}

.header__price label span {
  font-weight: bold;
  font-size: 12px;
  padding-right: 20px;
  position: relative;
}

.header__price label span:after {
  content: "\f0d7";
  font-family: FontAwesome;
  position: absolute;
  top: 2px;
  right: 0;
  color: #999999;
  font-size: 12px;
}

.header__price label img {
  padding-right: 11px;
  vertical-align: middle;
}

.header__price label:hover {
  opacity: .7;
}

.header__pricelist {
  position: absolute;
  top: 20px;
  left: 0;
  background: #ffffff;
  z-index: 1;
  border: 1px solid #d6d6d6;
  padding: 5px 8px 5px 8px;
  width: 72px;
  display: none;
}

.header__pricelist li {
  margin-bottom: 5px;
  cursor: pointer;
}

.header__pricelist li img {
  padding-right: 5px;
}

.header__pricelist li:hover {
  opacity: .7;
}

.header__pricelist li:last-child {
  margin-bottom: 0;
}

.header__pricelist li.selected {
  display: none;
}

.header__logoTop {
  width: 514px;
}

.header__car {
  border: 2px solid #ded3aa;
}

.header__car a {
  padding: 12px 0;
  text-transform: uppercase;
  font-size: 12px;
  font-weight: 400;
  color: #111111;
  width: 126px;
  text-align: center;
  display: inline-block;
  position: relative;
  z-index: 10;
  cursor: pointer;
}

.header__car a:before {
  content: "";
  width: 100%;
  height: 100%;
  z-index: -1;
  background: #fef8e3;
  position: absolute;
  left: 0;
  top: 0;
  -webkit-transform: scaleX(0);
          transform: scaleX(0);
  -webkit-transform-origin: 0 50%;
          transform-origin: 0 50%;
  -webkit-transition: all 0.3s ease-out;
  transition: all 0.3s ease-out;
}

.header__car a:hover:before {
  -webkit-transform: scaleX(1);
          transform: scaleX(1);
}

.header__nav {
  border-top: 1px solid #e1e1e1;
  border-bottom: 1px solid #e1e1e1;
  background: #ffffff;
}

.header__nav .container {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  height: 68px;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.header__bar {
  width: 303px;
  font-size: 16px;
  color: #111111;
  padding-bottom: 4px;
  cursor: pointer;
}

.header__bar:hover {
  opacity: .7;
}

.header__navigation {
  width: 773px;
}

.header__navigation li {
  float: left;
  font-size: 12px;
  font-weight: 400;
  text-transform: uppercase;
  height: 70px;
  line-height: 70px;
  position: relative;
}

.header__navigation li.home {
  width: 91px;
}

.header__navigation li.men {
  width: 96px;
}

.header__navigation li.women {
  width: 116px;
}

.header__navigation li.lookbook {
  width: 119px;
}

.header__navigation li.about {
  width: 93px;
}

.header__navigation li.caret-down a:after {
  content: "\f0d7";
  font-family: FontAwesome;
  color: #999999;
  padding-left: 10px;
}

.header__navigation li a {
  display: inline-block;
  color: #111111;
  font-weight: 400;
  position: relative;
}

.header__navigation li a:before {
  content: "";
  width: 0;
  height: 2px;
  background: #111111;
  position: absolute;
  left: 0;
  bottom: 0;
  -webkit-transition: all ease-out .2s;
  transition: all ease-out .2s;
}

.header__navigation li a:hover:before {
  width: 100%;
}

.header__search a {
  font-size: 16px;
  color: #111111;
  font-weight: bold;
  border-left: 1px dotted #999999;
  padding: 0px 0 6px 12px;
  margin-left: 9px;
  cursor: pointer;
  position: relative;
}

.header__search a:nth-child(1) {
  border-left: 0;
  margin-left: 0;
}

.header__search a:nth-child(1):hover {
  opacity: .7;
}

.header__sp {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  background: #fff;
  -webkit-box-shadow: 1px 3px 6px #ddd;
          box-shadow: 1px 3px 6px #ddd;
  z-index: 10;
}

.header__sp .container {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  height: 80px;
}

.header__naviSp {
  width: 80%;
  height: 100%;
  position: fixed;
  top: 0;
  left: 0;
  background: #ffffff;
  z-index: 1000;
  -webkit-transition: all .3s;
  transition: all .3s;
  -webkit-transform: translateX(-100%);
          transform: translateX(-100%);
}

.header__naviSp li {
  font-size: 12px;
  font-weight: 400;
  text-transform: uppercase;
  height: 40px;
  line-height: 40px;
  position: relative;
  border-bottom: 1px solid #d6d6d6;
}

.header__naviSp li a {
  padding: 0 10px;
  display: block;
  color: #111111;
}

.header__naviSp li a:hover {
  text-decoration: underline;
}

.header__naviSp.is-active {
  -webkit-transform: translateX(0);
          transform: translateX(0);
  -webkit-transition-delay: .4s;
          transition-delay: .4s;
}

.header__background {
  width: 100%;
  height: 100%;
  background: rgba(0, 0, 0, 0.58);
  position: fixed;
  top: 0;
  right: 0;
  opacity: 0;
  visibility: hidden;
  -webkit-transition: all .3s;
  transition: all .3s;
}

.header__background.is-active {
  opacity: 1;
  visibility: visible;
}

.close-menu {
  display: block;
  position: fixed;
  right: 0;
  top: 0;
  width: 20%;
  height: 65px;
  z-index: 1000;
  -webkit-transition: all .3s;
  transition: all .3s;
  -webkit-transform: translateX(100%);
          transform: translateX(100%);
}

.close-menu.is-active {
  -webkit-transform: translateX(0);
          transform: translateX(0);
  -webkit-transition-delay: .4s;
          transition-delay: .4s;
}

.close-menu span {
  width: 100%;
  height: 65px;
  background: #ffffff;
  cursor: pointer;
  position: relative;
  display: block;
}

.close-menu span:before {
  content: '';
  width: 15px;
  height: 15px;
  display: block;
  left: 16px;
  top: 23px;
  position: absolute;
  border-left: 2px solid #111111;
  border-bottom: 2px solid #111111;
  -webkit-transform: rotate(45deg);
          transform: rotate(45deg);
}

.close-menu span:after {
  content: '';
  width: 30px;
  height: 3px;
  background: #111111;
  display: block;
  left: 15px;
  top: 30px;
  position: absolute;
}

/*------------------------------------------------------------
footer
------------------------------------------------------------*/
.footer {
  border-top: 1px solid #e1e1e1;
}

.footer small {
  display: block;
  text-align: center;
  font-size: 13px;
  font-weight: 400;
  color: #b5b5b5;
  padding: 28px 0;
}

.search {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background: #ffffff;
  z-index: 9999;
  opacity: 0;
  display: none;
  -webkit-transition: opacity .15s linear;
  transition: opacity .15s linear;
}

.search.is-open {
  opacity: 1;
}

.search .close {
  border: 2px solid #111111;
  width: 40px;
  height: 40px;
  border-radius: 50%;
  text-align: center;
  line-height: 35px;
  font-size: 20px;
  cursor: pointer;
  float: right;
  margin: 30px;
}

.search .search-wrap {
  width: 30%;
  position: absolute;
  top: 30%;
  left: 0;
  right: 0;
  margin: 0 auto;
}

.search input {
  width: 100%;
  font-size: 18px;
  border: 3px solid #111111;
  border-radius: 25px;
  padding: 10px;
}

.search .searchButton {
  position: absolute;
  top: 7px;
  right: -14px;
  cursor: pointer;
  background: transparent;
  border: none;
  font-size: 22px;
}

body {
  min-width: 1150px;
  width: 100%;
  height: 100%;
  margin: auto;
}

.wrapper {
  width: 100%;
  margin: auto;
  background: #fff;
}

.container {
  max-width: 1150px;
  margin: 0 auto;
  position: relative;
}

.clearfix:after {
  content: "";
  clear: both;
  display: block;
}

/*------------------------------------------------------------
Component Components
------------------------------------------------------------*/
.pc {
  display: block;
}

.sp {
  display: none;
}

.clear {
  clear: both;
}

@media only screen and (max-width: 768px) {
  .header__wel {
    display: none;
  }
  .header__logo .container {
    height: 80px;
  }
  .header__logoTop {
    width: 60%;
    text-align: center;
  }
  .header__car {
    width: 23px;
    text-align: right;
    border: none;
    position: absolute;
    right: 40px;
  }
  .header__car i {
    font-size: 15px;
    color: #111111;
  }
  .header__car span {
    position: absolute;
    background: red;
    border-radius: 50%;
    left: 15px;
    top: -8px;
    width: 15px;
    height: 15px;
    text-align: center;
    line-height: 15px;
    color: #ffffff;
  }
  .header__searchbtn {
    position: absolute;
    right: 15px;
    cursor: pointer;
  }
  .header__searchbtn i {
    font-size: 16px;
  }
  .header__nav {
    display: none;
  }
  .header__bar {
    width: 20%;
    font-size: 25px;
  }
  .footer small {
    font-size: 11px;
    padding: 10px 15px;
  }
  .search .close {
    width: 30px;
    height: 30px;
    line-height: 24px;
    font-size: 15px;
    margin: 20px;
  }
  .search .search-wrap {
    width: 60%;
  }
  .search input {
    font-size: 14px;
  }
  .search .searchButton {
    font-size: 17px;
    top: 9px;
  }
  body {
    min-width: auto;
  }
  .container {
    max-width: 100%;
    padding: 0 15px;
    overflow: hidden;
  }
  .pc {
    display: none;
  }
  .sp {
    display: block;
  }
}
/*# sourceMappingURL=../maps/common.css.map */
