/*------------------------------------------------------------
PRODUCT 
------------------------------------------------------------*/
.products {
  padding: 47px 0 100px 0;
}

.products__imglist {
  width: 658px;
  float: left;
  text-align: center;
}

.products__img--big img {
  max-width: 100%;
  border: 1px solid #dddddd;
}

.products__img--big:hover .slick-arrow {
  opacity: 1;
  visibility: visible;
}

.products__img--small {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  margin-top: 25px;
  position: relative;
}

.products__img--small img {
  width: 100%;
}

.products__detaipro {
  width: 492px;
  float: right;
  padding-left: 28px;
  margin-top: 10px;
}

.products__detaipro .titlepro {
  font-size: 24px;
  font-weight: bold;
  color: #111111;
  margin-bottom: 17px;
}

.products__detaipro .price {
  font-size: 24px;
  font-weight: bold;
  color: #68899a;
  margin-bottom: 24px;
  display: block;
}

.products__back {
  font-size: 14px;
  font-weight: 400;
  margin-bottom: 37px;
}

.products__back a {
  color: #68899a;
}

.products__back a:hover {
  text-decoration: underline;
}

.products__rate {
  margin-bottom: 20px;
}

.products__rate span {
  margin: 0 -1px;
}

.products__rate .full .fa-star {
  font-size: 16px;
  color: #ded3aa;
}

.products__rate .empty .fa-star {
  font-size: 16px;
  color: #dfdfde;
}

.products__rate .number-view {
  font-size: 14px;
  font-weight: 300;
  padding: 0 15px 0 10px;
  margin-right: 10px;
  position: relative;
}

.products__rate .number-view:after {
  content: "";
  border-left: 2px solid #dadada;
  position: absolute;
  top: 3px;
  right: 0;
  height: 13px;
}

.products__rate #custom-view {
  font-size: 12px;
  font-weight: bold;
  color: #111111;
  text-transform: uppercase;
  position: relative;
}

.products__rate #custom-view:after {
  content: "";
  width: 100%;
  border: 1px solid #dadada;
  position: absolute;
  bottom: 1px;
  left: 0;
}

.products__rate #custom-view:hover {
  opacity: .7;
}

.products__parameter {
  font-size: 14px;
  font-weight: 400;
  color: #111111;
  margin-bottom: 8px;
}

.products__parameter p {
  display: inline-block;
  font-weight: 400;
}

.products__parameter a {
  color: #68899a;
  font-weight: 400;
}

.products__parameter a:hover {
  text-decoration: underline;
}

.products__description {
  font-size: 14px;
  font-weight: 400;
  line-height: 21px;
  margin: 30px 0 20px 0;
  letter-spacing: 0.2px;
}

.products__listdesc {
  margin-bottom: 28px;
}

.products__listdesc li {
  font-size: 14px;
  font-weight: 400;
  line-height: 24px;
  position: relative;
  padding-left: 15px;
}

.products__listdesc li:before {
  content: "";
  width: 5px;
  height: 5px;
  border-radius: 50%;
  background: #cccccc;
  position: absolute;
  top: 10px;
  left: 0;
}

.products__row3cl label {
  font-size: 14px;
  font-weight: bold;
  color: #111111;
  text-transform: uppercase;
  padding-bottom: 17px;
  display: block;
}

.products__row3cl .select-wrapper {
  position: relative;
}

.products__row3cl .select-wrapper:after {
  content: "\f0d7";
  font-family: FontAwesome;
  position: absolute;
  font-size: 12px;
  top: 12px;
  right: 13px;
  color: #cccccc;
}

.products__row3cl select {
  width: 168px;
  -webkit-appearance: none;
     -moz-appearance: none;
          appearance: none;
  height: 36px;
  padding: 0 9px 0 12px;
  margin-bottom: 37px;
  font-size: 13px;
  font-weight: 300;
  color: #111111;
  border-color: #e1e1e1;
  cursor: pointer;
  position: relative;
  -webkit-transition: all ease 0.2s;
  transition: all ease 0.2s;
}

.products__row3cl select:focus {
  border: 1px solid #E96199;
  -webkit-box-shadow: #E96199 0 0 5px;
          box-shadow: #E96199 0 0 5px;
}

.products__row3cl select::-ms-expand {
  display: none;
}

.products__color {
  width: 196px;
  float: left;
}

.products__color .select-wrapper {
  width: 168px;
}

.products__size {
  width: 195px;
  float: left;
}

.products__size .select-wrapper {
  width: 168px;
}

.products__quantity {
  float: left;
  width: 71px;
}

.products__quantity .quantity {
  width: 71px;
  position: relative;
  margin-bottom: 37px;
}

.products__quantity .quantity-val {
  width: 72%;
  height: 31px;
  border: 1px solid #e1e1e1;
  -webkit-appearance: none;
     -moz-appearance: none;
          appearance: none;
  text-align: center;
  font-size: 12px;
  font-weight: 300;
  color: #111111;
}

.products__quantity .quantity-up {
  position: absolute;
  top: 0;
  right: 0;
  width: 35px;
  height: 21px;
  border: 1px solid #e1e1e1e1;
  border-bottom: none;
  text-align: center;
  line-height: 16px;
  color: red;
  color: #cccccc;
  z-index: 1;
  background: #fff;
  cursor: pointer;
}

.products__quantity .quantity-down {
  position: absolute;
  top: 17px;
  right: 0;
  width: 35px;
  height: 18px;
  border: 1px solid #e1e1e1e1;
  text-align: center;
  line-height: 15px;
  color: red;
  color: #cccccc;
  z-index: 1;
  background: #fff;
  cursor: pointer;
}

.products .clearselection {
  text-transform: uppercase;
  font-size: 12px;
  font-weight: 400;
  color: #111111;
  position: relative;
  display: inline-block;
  margin-bottom: 39px;
}

.products .clearselection:after {
  content: "";
  position: absolute;
  bottom: 1px;
  left: 0;
  width: 100%;
  height: 1px;
  background: #8a8a8a;
}

.products .clearselection:hover {
  opacity: .7;
}

.products__btn {
  width: 100%;
  max-width: 217px;
  display: inline-block;
  -webkit-transition: all ease 0.2s;
  transition: all ease 0.2s;
  margin-bottom: 38px;
  margin-right: 18px;
}

.products__btn:nth-child(2) {
  max-width: 225px;
  margin-right: 0;
}

.products__btn input {
  position: absolute;
  height: 0;
  opacity: 0;
}

.products__btn .checkmark, .products__btn .checkwish {
  display: inline-block;
  margin: 0;
  width: 100%;
  cursor: pointer;
  padding: 19px 24px;
  font-size: 12px;
  font-weight: bold;
  color: #111111;
  background: #ffffff;
  text-align: center;
  border: 1px solid #e1e1e1;
  text-transform: uppercase;
  position: relative;
}

.products__btn .checkmark span, .products__btn .checkmark i, .products__btn .checkwish span, .products__btn .checkwish i {
  z-index: 1;
  position: relative;
}

.products__btn .checkmark i, .products__btn .checkwish i {
  padding-right: 7px;
}

.products__btn .checkmark:before, .products__btn .checkwish:before {
  content: "";
  width: 100%;
  height: 100%;
  background: #111111;
  position: absolute;
  left: 0;
  top: 0;
  -webkit-transform: scaleX(0);
          transform: scaleX(0);
  -webkit-transform-origin: 0 50%;
          transform-origin: 0 50%;
  -webkit-transition: all 0.3s ease-out;
  transition: all 0.3s ease-out;
}

.products__btn:hover .checkmark, .products__btn:hover .checkwish {
  color: #ffffff;
}

.products__btn:hover .checkmark:before, .products__btn:hover .checkwish:before {
  -webkit-transform: scaleX(1);
          transform: scaleX(1);
}

.products__share {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  padding: 14px 0 15px 0;
  border-top: 1px solid #e1e1e1;
  border-bottom: 1px solid #e1e1e1;
}

.products__share label {
  text-transform: uppercase;
  color: #111111;
  font-size: 12px;
  font-weight: bold;
  width: 132px;
  margin-top: 4px;
}

.products__share ul {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

.products__share ul li {
  text-align: center;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

.products__share ul li a {
  text-transform: capitalize;
  height: 20px;
  font-size: 11px;
  font-weight: 300;
  border-radius: 3px;
  position: relative;
  text-align: center;
  display: inline-block;
  line-height: 17px;
}

.products__share ul li a:hover {
  opacity: .7;
}

.products__share ul li a img {
  vertical-align: middle;
}

.products__share ul li.like {
  margin-right: 4px;
}

.products__share ul li.like a {
  background: #4864b8;
  color: #ffffff;
  width: 48px;
}

.products__share ul li.share {
  margin-right: 25px;
}

.products__share ul li.share a {
  background: #4662b6;
  color: #ffffff;
  width: 40px;
}

.products__share ul li.tweet {
  margin-right: 15px;
}

.products__share ul li.tweet a {
  background: -webkit-gradient(linear, left top, left bottom, color-stop(15%, #fff), color-stop(85%, #e1e2e1));
  background: linear-gradient(#fff 15%, #e1e2e1 85%);
  width: 56px;
  color: #333333;
  border: 1px solid #cccccc;
}

.products__share ul li.pinit a {
  background: #fbfcfb;
  width: 40px;
  border: 1px solid #cccccc;
  margin-right: 4px;
}

.products__share ul .view {
  position: relative;
  border: 1px solid #cfd1d7;
  height: 20px;
  line-height: 20px;
  padding: 0 4px;
  margin-left: 6px;
  color: #6a7180;
  font-size: 11px;
  font-weight: 300;
  border-radius: 3px;
  background: #ffffff;
  z-index: 1;
}

.products__share ul .view:before, .products__share ul .view:after {
  content: "";
  position: absolute;
  width: 0;
  height: 0;
  border-style: solid;
  border-color: transparent;
  border-bottom: 0;
  -webkit-transform: rotate(45deg);
          transform: rotate(45deg);
  z-index: -1;
}

.products__share ul .view:before {
  bottom: 4px;
  left: -4px;
  border-left-color: #cfd1d7;
  border-width: 6px;
}

.products__share ul .view:after {
  bottom: 4px;
  left: -3px;
  border-left-color: #ffffff;
  border-width: 6px;
}

.products__share ul .view2 {
  position: relative;
  border: 1px solid #cfd1d7;
  height: 20px;
  line-height: 20px;
  padding: 0 2px;
  margin-left: 6px;
  color: #6a7180;
  font-size: 11px;
  font-weight: 300;
  border-radius: 3px;
  background: #ffffff;
  z-index: 1;
}

.products__share ul .view2:before, .products__share ul .view2:after {
  content: "";
  position: absolute;
  width: 0;
  height: 0;
  border-style: solid;
  border-color: transparent;
  border-bottom: 0;
  -webkit-transform: rotate(45deg);
          transform: rotate(45deg);
  z-index: -1;
}

.products__share ul .view2:before {
  bottom: -2px;
  left: -9px;
  border-left-color: #cfd1d7;
  border-width: 13px;
}

.products__share ul .view2:after {
  bottom: -2px;
  left: -8px;
  border-left-color: #ffffff;
  border-width: 13px;
}

.products__wishlist .title {
  font-size: 20px;
  margin-bottom: 20px;
}

.products__wishlist .number-wish {
  color: #602935;
  font-size: 17px;
}

.products__wishlist table {
  width: 100%;
  border: 1px solid #e7e7e7;
}

.products__wishlist thead th {
  text-align: left;
  padding: 16px 12px;
  font-size: 15px;
}

.products__wishlist thead th.product-thumbnail {
  width: 100px;
}

.products__wishlist tbody td {
  padding: 5px 12px;
  font-size: 14px;
  border-top: 1px solid #e7e7e7;
}

.products__wishlist tbody td img {
  width: 100px;
}

.products__wishlist tbody td i {
  cursor: pointer;
}

.products__wishlist tbody tr {
  margin-bottom: 10px;
}

.products__wishlist tbody tr a {
  color: #111111;
}

.products__wishlist tbody tr a:hover {
  text-decoration: underline;
}

.cart_bottom {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background: rgba(0, 0, 0, 0.6);
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  z-index: 9999;
  display: none;
}

.cart_bottom .close {
  width: 40px;
  margin-left: auto;
  cursor: pointer;
  color: #602935;
  text-align: right;
  padding: 10px 15px;
  font-size: 15px;
  font-weight: bold;
}

.cart_bottom .title {
  text-align: center;
  font-size: 25px;
  color: #602935;
  margin-bottom: 10px;
}

.cart_bottom .total {
  text-align: right;
  padding-right: 100px;
}

.cart_bottom .total .totalT, .cart_bottom .total .totalP {
  display: inline-block;
  font-size: 15px;
}

.cart_bottom .total .totalT {
  font-size: 18px;
  padding-right: 5px;
}

.cart_bottom .tax {
  text-align: right;
  padding-right: 100px;
}

.cart_bottom .tax .taxT, .cart_bottom .tax .taxP {
  display: inline-block;
  font-size: 15px;
}

.cart_bottom .tax .taxT {
  font-size: 18px;
  padding-right: 14px;
}

.cart_bottom .totalTax {
  text-align: right;
  padding-right: 100px;
}

.cart_bottom .totalTax .totalTaxT, .cart_bottom .totalTax .totalTaxP {
  display: inline-block;
  font-size: 15px;
}

.cart_bottom .totalTax .totalTaxT {
  font-size: 18px;
  padding-right: 5px;
}

.cart_bottom .checkout {
  height: 65px;
  background: #ded3aa;
  border-radius: 0 0 10px 10px;
  text-align: right;
  padding-right: 30px;
  padding-top: 16px;
  margin-top: 10px;
}

.cart_bottom .checkout button {
  width: 138px;
  height: 31px;
  border-radius: 50px;
  border: none;
  color: #f2f2f2;
  background: #602935;
  letter-spacing: 1.5px;
  cursor: pointer;
}

.cart_bottom .checkout button:hover {
  opacity: .7;
}

.cart_bottom .checkout button.cancel {
  margin-right: 10px;
}

.cart_list {
  background: #f2f2f2;
  width: 622px;
  height: 405px;
  border-radius: 10px;
  position: absolute;
  margin: 0 auto;
  top: 50%;
  left: 0;
  right: 0;
  -webkit-transform: translateY(-50%);
          transform: translateY(-50%);
}

.cart_list ul {
  margin: 0 30px 10px 30px;
  padding-top: 10px;
  height: 141px;
  overflow-y: scroll;
  border-top: 1px solid #dddddd;
  border-bottom: 1px solid #dddddd;
}

.cart_list ul li {
  margin: 0;
  height: 60px;
  font-size: 10px;
  line-height: 60px;
  vertical-align: middle;
  margin-bottom: 10px;
  border-bottom: 1px solid #dddddd;
}

.cart_list ul li:last-child {
  border-bottom: none;
}

.cart_list ul li div {
  display: inline-block;
}

.cart_list ul .i_des {
  width: 197px;
  margin-right: 0;
}

.cart_list ul .i_color {
  width: 87px;
}

.cart_list ul .i_size {
  width: 78px;
}

.cart_list ul .i_QTY {
  width: 79px;
}

.cart_list ul .i_price {
  width: 40px;
}

.cart_list ul .i_remove i {
  cursor: pointer;
  border: 1px solid #111111;
  border-radius: 50%;
  padding: 0px 3px 3px 3px;
}

.cart_list ul .img {
  margin-right: 0;
}

.cart_list ul .img img {
  width: 50px;
}

.cart_list ul .name {
  margin-right: 0;
  font-size: 10px;
  width: 140px;
  white-space: normal;
  padding-left: 13px;
}

.cart_cat {
  font-size: 8px;
  white-space: normal;
  height: 36px;
  line-height: 36px;
  width: 100%;
  padding-left: 30px;
}

.cart_cat div {
  display: inline-block;
  font-size: 12px;
  margin-right: 55px;
}

.cart_cat .dest {
  width: 140px;
}

@media only screen and (max-width: 768px) {
  .products {
    padding-top: 30px;
    padding-bottom: 40px;
  }
  .products__imglist {
    width: 100%;
  }
  .products__img--big .slick-arrow {
    position: absolute;
    top: 50%;
    -webkit-transform: translateX(-50%);
            transform: translateX(-50%);
    background: rgba(17, 17, 17, 0.39);
    border: none;
    width: 40px;
    height: 40px;
    cursor: pointer;
    opacity: 0;
    visibility: hidden;
    -webkit-transition: all .3s;
    transition: all .3s;
  }
  .products__img--big .slick-next {
    right: 0;
  }
  .products__img--big .slick-prev {
    left: 42px;
    z-index: 1;
  }
  .products__img--big img {
    max-width: 80%;
    margin: 0 auto;
  }
  .products__img--small {
    display: none;
  }
  .products__detaipro {
    width: 100%;
    padding-left: 0;
  }
  .products__detaipro .titlepro {
    font-size: 20px;
    margin-bottom: 5px;
  }
  .products__detaipro .price {
    margin-bottom: 15px;
  }
  .products__back {
    margin-bottom: 20px;
  }
  .products__rate {
    margin-bottom: 15px;
  }
  .products__rate .full .fa-star {
    font-size: 13px;
  }
  .products__rate .empty .fa-star {
    font-size: 13px;
  }
  .products__rate .number-view {
    font-size: 12px;
  }
  .products__rate #custom-view {
    font-size: 11px;
  }
  .products__rate #custom-view:after {
    bottom: -1px;
  }
  .products__description {
    font-size: 13px;
    line-height: 17px;
    margin: 20px 0 20px 0;
  }
  .products__listdesc {
    margin-bottom: 15px;
  }
  .products__listdesc li {
    font-size: 13px;
    line-height: 20px;
  }
  .products__row3cl label {
    font-size: 12px;
    padding-bottom: 12px;
  }
  .products__row3cl .select-wrapper:after {
    font-size: 10px;
    top: 8px;
    right: 8px;
  }
  .products__row3cl select {
    width: 100%;
    padding: 0px 6px 0px 7px;
    font-size: 12px;
    margin-bottom: 20px;
    height: 28px;
  }
  .products__color {
    width: 40%;
  }
  .products__color .select-wrapper {
    width: 90%;
  }
  .products__size {
    width: 45%;
  }
  .products__size .select-wrapper {
    width: 90%;
  }
  .products__quantity {
    width: 15%;
  }
  .products__quantity .quantity {
    width: 100%;
  }
  .products__quantity .quantity-val {
    width: 72%;
    padding: 5px 0;
    height: 15px;
  }
  .products__quantity .quantity-up {
    height: 14px;
    line-height: 13px;
  }
  .products__quantity .quantity-down {
    top: 14px;
    height: 13px;
    line-height: 11px;
  }
  .products .clearselection {
    margin-bottom: 25px;
  }
  .products__btn {
    max-width: 230px;
    width: 48%;
    margin-right: 14px;
    margin-bottom: 27px;
  }
  .products__btn:nth-child(2) {
    max-width: 230px;
  }
  .products__btn .checkmark, .products__btn .checkwish {
    padding: 10px 24px;
    font-size: 11px;
  }
  .cart_list {
    width: 90%;
  }
}

@media only screen and (max-width: 480px) {
  .products__color {
    width: 50%;
    float: none;
  }
  .products__size {
    width: 50%;
    float: none;
  }
  .products__quantity {
    width: 25%;
  }
  .products__quantity .quantity-val {
    width: 80%;
  }
  .products__btn {
    max-width: none;
    width: 100%;
    margin-bottom: 15px;
  }
  .products__btn:nth-child(2) {
    max-width: none;
  }
  .products__share label {
    font-size: 9px;
  }
  .products__share ul {
    -ms-flex-wrap: wrap;
        flex-wrap: wrap;
  }
  .products__share ul li {
    margin-bottom: 10px;
  }
}
/*# sourceMappingURL=../maps/product.css.map */
